<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog - sasakiy84</title>
  <meta name="description" content="sasakiy84 の個人ブログ。">
  <link rel="stylesheet" href="/base.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
  <header class="header">
    <a href="/">
        <img src="/logo.png" alt="logo" class="logo">
        <span class="blog-title">blog.sasakiy.net</span>
    </a>
    <a href="https://github.com/sasakiy84" target="_blank">
      <img class="logo-github" src="/github-logo.svg" alt="github">
    </a>
  </header>
  <main class="main">
    {{ articles }}
  </main>
</body>
</html>