<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="/highlight.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script defer src="/web-components/inlineCode.js"></script>
  <script defer src="/web-components/link.js"></script>
</head>

<body>
  <main class="main">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <div class="tags">
      {{ tags }}
    </div>
    <article>
      {{ content }}
    </article>
  </main>
</body>

</html>